.container {
  display: flex;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  border: 2px solid red;
}

.containerColumn {
  flex-direction: column;
}

.element {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
}
