<footer class="footer">
  <div>
    <img
      src="./assets/images/brook-logo.png"
      alt="logo brook"
      class="footer__logo"
    />
  </div>
  <div class="footer__mainNav">
    <h2>About us</h2>
    <ul>
      <li>
        <a href="#" class="footer__mainNavItems">About us</a>
      </li>
      <li>
        <a href="#" class="footer__mainNavItems">Team</a>
      </li>
      <li>
        <a href="#" class="footer__mainNavItems">Carreer</a>
      </li>
      <li>
        <a href="#" class="footer__mainNavItems">Services</a>
      </li>
      <li>
        <a href="#" class="footer__mainNavItems">Contact</a>
      </li>
    </ul>
  </div>
  <div class="footer__contact">
    <h2>Contact</h2>
    <p>
      <span>2005 Stokes Isle Apt- 896.</span>
      <span>ana ville 10010. USA </span> <span>info@yourdomain.com </span>
      <span>(+68) 120034509</span>
    </p>
  </div>
  <div class="footer__socialMedia"></div>
  <div class="footer__secondaryNavContainer">
    <ul class="footer__secondaryNav">
      <li>
        <a href="#" class="footer__mainNavItems">Our blog</a>
      </li>
      <li>
        <a href="#" class="footer__mainNavItems">Lastest projects</a>
      </li>
      <li>
        <a href="#" class="footer__mainNavItems">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="footer__copy">
    <p>&copy 2020 Brook. All Rights Reserved</p>
  </div>
</footer>
