<header class="header">
  <img
    src="./assets/images/brook-logo.png"
    alt="logo brook"
    class="header__logo"
  />
  <div class="header__menuIcon">
    <img src="./assets/images/menu-icon.png" />
  </div>
  <div class="header__menuListContainer">
    <ul class="header__menuList">
      <li>
        <a href="#" class="header__menuListLinks">home</a>
      </li>
      <li>
        <a href="#" class="header__menuListLinks">pages</a>
      </li>
      <li>
        <a href="#" class="header__menuListLinks">portfolio</a>
      </li>
      <li>
        <a href="#" class="header__menuListLinks">blog</a>
      </li>
      <li>
        <a href="#" class="header__menuListLinks">contact</a>
      </li>
    </ul>
  </div>
</header>
