<section class="hero">
  <h1 class="hero__text">
    <span class="hero__mainText">This is Brook</span>
    <span>A full-service creative agency.</span>
  </h1>
</section>
<section class="mainInfo">
  <p class="mainInfo__title">what we do</p>
  <p class="mainInfo__description">
    <span>We design & build brands, campaigns & digital projects</span
    ><span>for businesses large & small.</span>
  </p>
</section>
<section class="features">
  <include
    src="./feature-cards.html"
    imgSrc="eye-icon.jpg"
    imgAlt="eye icon"
    imgTitle="eye icon"
  ></include>
  <include
    src="./feature-cards.html"
    imgSrc="book-icon.jpg"
    imgAlt="book icon"
    imgTitle="book icon"
  ></include>
  <include
    src="./feature-cards.html"
    imgSrc="boxes-icon.jpg"
    imgAlt="boxes icon"
    imgTitle="boxes icon"
  ></include>
</section>
