.footer {
  height: 450px;
  margin-top: 40px;
  background: $color-dark;
  color: $color-light;
  font-weight: $font-light;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  &__logo {
    margin: 25px;
    display: inline-block;
  }

  &__mainNav {
    display: none;

    @media all and (min-width: 768px) {
      display: block;
    }
  }

  &__mainNavItems {
    text-decoration: none;
    color: inherit;
  }

  &__contact {
    margin-top: 30px;

    h2 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    span {
      display: block;
      padding-top: 10px;
    }
  }
  &__secondaryNavContainer {
    align-self: center;
  }
  &__secondaryNav {
    display: flex;

    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__copy {
    align-self: center;
  }
}
